@{
    ViewData["Title"] = "Science Search";
}
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model IPagedList<Article>

</br>

<style>
    <style >
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .form-inline {
        margin-left: 200px; /* Aramayı sağa kaydırmak için ayarlanmış değer */
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa;
    }

    .card-body {
        padding: 20px;
    }

    .card-title {
        color: #333;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-subtitle {
        color: #666;
        font-size: 1rem;
    }

    .card-text {
        color: #444;
        font-size: 1rem;
    }

    .text-muted {
        color: #888;
        font-size: 0.8rem;
    }

    .custom-container {
        max-width: 800px; 
        margin: 0 auto; 
    }

    .form-check {
        text-align: right;
        margin-left: auto;
        margin-right: 0;
        position: relative;
        top: -30px;
    }


</style>

</style>


<div class="container mt-3 main-container justify-content-center">

    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <img src="img/SearchScience.png" alt="Logo" height="150px" width="450px">
        </div>
    </div>

</div>

</br>





<div class="container mt-3 main-container justify-content-center">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <form class="form-inline">
                <input class="form-control mr-sm-2 w-100" type="search" placeholder="Ara" aria-label="Ara" style="max-width: 600px;">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Ara</button>
            </form>
        </div>
    </div>

</div>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="sortSwitch" onchange="ToggleSortOrder()">
    <label class="form-check-label" for="sortSwitch">Azalan Tarih</label>
</div>

<div class="container mt-3 main-container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <div id="idLoading" style="display:none;">
                <div class="spinner-border text-primary"></div>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

</br>
</br>
</br>

<div class="container custom-container">
    @foreach (var x in Model)
    {
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-12">
                    <div class="card-body">
                        <form action="/Home/GetArticlesBlabla" method="POST">
                            <!-- Gizli ID alanı -->
                            <input type="hidden" name="Id" value="@x.Id">
                            <!-- Gösterilecek başlık alanı -->
                            <h5 class="card-title">
                                <button type="submit" class="btn btn-link">@x.Title</button>
                            </h5>
                        </form>
                        <h6 class="card-subtitle mb-2 text-muted">Yazarlar: @x.Author</h6>
                        <p class="card-text">Özet: @x.Summary</p>
                        <p class="card-text"><small class="text-muted">Anahtar Kelimeler: @x.KeyWords</small></p>
                    </div>
                </div>
            </div>
        </div>
    }

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {


        $('.form-inline').submit(function (event) {

            event.preventDefault();

            console.log("girdi");

            var keyword = $(this).find('input[type="search"]').val();

          // $('.custom-container').hide();
            GetArticlesByKeyWords(keyword);
        });
    });


    function GetArticlesByKeyWords(keyword) {
        
        $('#idLoading').show();

        $.ajax({
            url: '/Home/GetArticles',
            type: 'POST',
            data: { keyword: keyword },
            success: function (response) {
                console.log('Makaleler Başarıyla Alındı');
                console.log(response); 
                FillCards(response);
            },
            error: function (error) {
                console.error('Bu İşlemde Bir Hata Oluştu');
            },
            complete: function () {
             
                $('#idLoading').hide();
            }
        });
    }
    function FillCards(articles) {
        // Kartları temizle
        $('.custom-container').empty();
        
        // Her makale için kart oluştur
        articles.forEach(function (article) {
            console.log(article);
            var cardHtml = `
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                            <form action="/Home/GetArticlesBlabla" method="POST">
                                <!-- Gizli ID alanı -->
                                    <input type="hidden" name="Id" value=${article.id}>
                                <!-- Gösterilecek başlık alanı -->
                                <h5 class="card-title">
                                        <button type="submit" class="btn btn-link">${article.title}</button>
                                </h5>
                            </form>
                                    <h6 class="card-subtitle mb-2 text-muted">Yazarlar: ${article.author}</h6>
                                    <p class="card-text">Özet: ${article.summary}</p>
                                    <p class="card-text"><small class="text-muted">Anahtar Kelimeler: ${article.keyWords}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>`;

            $('.custom-container').append(cardHtml);
        });
    }

    function GetArticlesByDate() {
        $('#idLoading').show();

        $.ajax({
            url: '/Home/GetArticlesByDateDescending',
            type: 'POST',
            success: function (response) {
                console.log('Makaleler tarihe göre başarıyla alındı');
                console.log(response);
                FillCards(response);
            },
            error: function (error) {
                console.error('Bu işlemde bir hata oluştu');
            },
            complete: function () {
                $('#idLoading').hide();
            }
        });
    }

    function GetArticlesByDateAscending() {
        $('#idLoading').show();

        $.ajax({
            url: '/Home/GetArticlesByDateAscending',
            type: 'POST',
            success: function (response) {
                console.log('Makaleler tarihe göre başarıyla alındı');
                console.log(response);
                FillCards(response);
            },
            error: function (error) {
                console.error('Bu işlemde bir hata oluştu');
            },
            complete: function () {
                $('#idLoading').hide();
            }
        });
    }
    var isDescending = true; // Başlangıçta azalan sırada sıralama yapacak

    function ToggleSortOrder() {
        isDescending = !isDescending; // Sıralama düzenini tersine çevir

        // Switch butonun metnini güncelle
        var switchLabel = document.querySelector('.form-check-label');
        switchLabel.innerText = isDescending ? 'Azalan Tarih' : 'Artan Tarih';

        // Yeni sıralama düzenine göre makaleleri al
        if (isDescending) {
            GetArticlesByDate();
        }
        else {
            GetArticlesByDateAscending();
        }
    }


</script>

